
#my-collapse ul li{
	list-style:none;
	padding:5px;

}
li a {
	color:#000;
	text-decoration: none;
	padding-right:50%;
}
li a:hover{
	color:#999;
}
h3.depart-title{
	padding-top:30px;
}
div.down-hr{
	margin-top:30px;
}
form div{
	margin:10px 0 10px;
}
div#price div{
	margin-top:3px;
}
form div.partinfo{
	position:relative;
	left:10px;
	width:900px;
	display:none;
}
form:hover div.partinfo{
	display:inline-block;
}
.hidden{
	display:none;
}
#ptable td{
	border:1px solid #000;
	padding:12px;
}
#ptable td.title{
	background:#999;
}
td#pevtd{
	padding-right:0;
	padding-left:0;
}
div.so-item p{
	font-size:16px;
	margin:16px;
}
div.so-item{
	text-align:center;
	background-color:#999;
	color:#fff;
	border:1px solid #999;
	border-bottom:1px solid #fff;
}
div.so-itct{
	//text-align:center;
	background:#fff;
	border:1px solid #999;
}
div.so-itct h4,p{
	margin:16px;
}
div.so-itti{
	text-align:center;
	border:1px solid #999;

}
div.so-vertical p{
	//width:16px;
}
th,td{
	text-align:center;
	vertical-align:middle;
}
td.nva{
	text-align:left;
}
table.mycontent tr th{
	font-size:18px;
}
table.mycontent tr th.title{
	font-size:28px;
}
table tr td.tbleft{
	text-align:left;
}
table tr td.tbright{
	text-align:right;
}


div.page{
	padding:24px;
}
div.main-content{
	padding:20px;
	margin-left:20px;
}

/**  for print
table.mycontent tr th{
	font-size:14px;
}
table.mycontent tr th.title{
	font-size:18px;
}
pre, td, th, tr{
	padding:0.5rem;
	
}
table tr td{
	font-size:12px;
	line-height:16px;
}
table tr td p{
	font-size:12px;
	padding:-5px;
}*/